@import "../vendor/hadron/widgets/core/core.scss";
@import "../vendor/hadron/widgets/core/themes.scss";
@import "../vendor/hadron/widgets/menus/console.scss";


@import "./ui/components/emcl-code.scss";

body {
	display: grid;
	grid-template-rows: var(--bottom-navigation-bar-height) auto var(--bottom-navigation-bar-height);
}

details.app-collapsible-panel {
	summary {
		padding: .5em;
		background-color: var(--foreground);
		color: var(--background);
	}
}