@import "./vendor/hadron/widgets/core/core.scss";
@import "./vendor/hadron/widgets/core/themes.scss";

@import "./ui/components/console.scss";
@import "./ui/components/code-viewer.scss";
@import "./ui/components/emcl-token-theme.scss";
@import "./ui/pages/optimizer.scss";

body {
	display: grid;
	grid-template-rows: var(--bottom-navigation-bar-height) auto var(--bottom-navigation-bar-height);
}

details.app-collapsible-panel {
	summary {
		padding: .5em;
		background-color: var(--foreground);
		color: var(--background);
	}
}

