code-viewer.block {
	display: flex;
	font-family: var(--font-family-monospace);
	background-color: var(--code-background);
	padding: 0;
}

code-viewer-gutter {
	flex: 0;
	flex-basis: 1.5em;
	text-align: right;
	color: var(--foreground-4);
	user-select: none;

	padding: var(--code-block-padding) .75em;
	> * {
		--highlight-color: transparent;
		padding: 0 .75em;
		border-right: .3em solid var(--highlight-color);
	}
}

code-viewer-content {
	flex: 1;
	white-space: pre;
	padding: var(--code-block-padding) 0;
	overflow-x: auto;
	cursor: text;
}